body {
    /* margin - margen del elemento */
    margin: 0;
    /* padding - "margen" hacia adentro */
    padding: 0;
    /* Fuentes del texto */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* *********************************************** */
/* ************************************** */
/* ***************************** */
/* NAVEGACIÓN */

header {
    /* width - ancho /// height-alto */
    width: 100%;
    height: 5%;
}

header nav{
    /* Justificar a la derecha */
    /* Nos habilita usar flex-end, flex-start */
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    /* Eliminar puntitos */
    list-style: none;
    display: flex;
    justify-content: center;
    /* Centrado verticalmente */
    align-items: center;
}

a {
    /* Eliminar línea debajo de texto */
    text-decoration: none;
}

nav .nav-right-section a{
    color: black;
    margin-right: 15px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    background-size: contain;
    width: 30%;
    background-repeat: no-repeat;
}

nav .nav-right-section .perfil{
    width: 35%;
    border-radius: 100%;
    margin-left: 10%;
}

main{
    margin-top: 25%;
    text-align: center;
}

main .main-logo{
    width: 90%;
    margin: 0 auto;
}

main .main-logo img{
    width: 50%;
}

main .main-input{
    width: 70%;
    margin: 0 auto;
}

main .main-input .main-input-container{
    /* Borde: Ancho de borde || Estilo del borde || Color del borde */
    border: 1px solid #dfe1e5;
    border-radius: 120px;
}

main .main-input input{
    height: 30px;
    border: none;
    outline: none;
    width: 90%;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 7px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

main .main-input .miro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}